#rdiv {
	border: 10px solid red;
	background: red;
}

#gdiv {
	border: 10px solid green;
	background: green;
}

#bdiv {
	border: 10px solid black;
	background: white;
}

body {
	background: #ccc;
}

li {
	background: #000;
}